[submodule "indent-guide"]
	path = indent-guide
	url = https://github.com/zk-phi/indent-guide
[submodule "helm-dash"]
	path = helm-dash
	url = https://github.com/areina/helm-dash
[submodule "function-args"]
	path = function-args
	url = https://github.com/abo-abo/function-args
[submodule "hydra"]
	path = hydra
	url = https://github.com/abo-abo/hydra
[submodule "org-download"]
	path = org-download
	url = https://github.com/abo-abo/org-download
[submodule "visual-regexp"]
	path = visual-regexp
	url = https://github.com/benma/visual-regexp.el
[submodule "visual-regexp-steroids"]
	path = visual-regexp-steroids
	url = https://github.com/benma/visual-regexp-steroids.el
